
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- Message flash section -->
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class ="alert alert-success">
	    {% for message in messages %}
	        <li> <strong> {{ message }} </strong> </li>
	    {% endfor %}
		</div>
  {% endif %}
{% endwith %}

<!-- Jumbotron to show categories title and small description -->
<div class="jumbotron">
	<h1>Categories</h1>
	<p class="lead">Welcome to my Item Catalog Project! This is a web application that provides a list of items within a variety of categories. In order to create categories and items, you need to login.</p>
</div>

<!-- Show Add Category button if user is logged in -->
<div class="row marketing">
	<div class="col-lg-6">
		{%if 'username' in login_session %}
		<a href="{{url_for('newCategory')}}">
			<button class="btn btn-lg btn-primary" id="new-category">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Add Category
			</button>
		</a>
		{% endif %}
	</div>
</div>

<!-- Show all categories -->
{% for category in categories %}
<div class="row marketing">
	<div class="col-lg-6">
	  <a href = "{{url_for('showItemList', category_name = category.name)}}"><h3>{{category.name}}</h3></a>
	  <p>{{category.description}}</p>
	</div>
</div>
{% endfor %}

{% endblock %}
