
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- Message flash section -->
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class ="alert alert-success">
	    {% for message in messages %}
	        <li> <strong> {{ message }} </strong> </li>
	    {% endfor %}
		</div>
  {% endif %}
{% endwith %}

<!-- Display category name -->
<div class = 'jumbotron header'>
	<h1>{{ category.name }}</h1>
	<p class="lead">{{ category.description }}</p>
</div>

<!-- Show Create New Item button if user is logged in -->
<div class="row marketing">
	<div class="col-lg-6">
		{%if 'username' in login_session %}
		<a href="{{url_for('newItem', category_name = category.name)}}">
			<button class="btn btn-lg btn-primary" id="new-item">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Item
			</button>
		</a>
		{% endif %}
	</div>
</div>

<!-- Show all items in category -->
{% for i in items %}
<div class="row marketing">
	<div class="col-lg-6">
		<a href = "{{url_for('showItemPage', category_name = category.name, item_name = i.name)}}"><h3>{{i.name}}</h3></a>
		<p> {{ i.description }} </p>
		</a>
	</div>
</div>
{% endfor %}

{% endblock %}
