{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- Message flash section -->
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class ="alert alert-success">
	    {% for message in messages %}
	        <li> <strong> {{ message }} </strong> </li>
	    {% endfor %}
		</div>
  {% endif %}
{% endwith %}

<!-- Add scripts for Google sign in -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

<!-- Jumbotron to show title and login benefits -->
<div class="paragraph">
	<h1>Login</h1>
	<p class="lead">Login using any of the services below. Logging in will allow you to create, edit and delete catalogs and items.</p>
</div>

 <!-- Start Google Sign in -->
<div id="signinButton">
  <span class="g-signin"
    data-scope="openid email"
    data-clientid="600745547124-qqnbnqt0kvq14nd0q71889og0rcbioo8.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback"
    data-approvalprompt="force"
  </span>
</div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide sign-in button now that user has been authenticated
    $( '#signinButton').attr('style', 'display: none');
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      contentType: 'application/octet-stream; charset=utf-8',
      data: authResult['code'],
      success: function(result) {
        if (result) {
          $('#result').html('Login Successful!</br>' + result + '</br> Redirecting...')
          setTimeout(function() {
            window.location.href = "/catalog";
          }, 4000);
        } else if (authResult['error']){
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
    })
  }
}
</script>
<!-- End Google Sign in -->

{% endblock %}
