
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- Message flash section -->
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class ="alert alert-success">
	    {% for message in messages %}
	        <li> <strong> {{ message }} </strong> </li>
	    {% endfor %}
		</div>
  {% endif %}
{% endwith %}

<!-- Show categories title and instructions -->
<div class="paragraph">
	<h1>Create a new category</h1>
	<p class="lead">Enter a name and description for your new cateogry below</p>
</div>

<form action = "#", method = 'post'>
  <fieldset class="form-group">
    <label>Name</label>
    <input type="text" name = 'name' class="form-control" placeholder="Enter category name">
  </fieldset>

  <fieldset class="form-group">
    <label>Description</label>
    <textarea class="form-control" name = 'description' rows="3" placeholder="Enter a brief description"></textarea>
  </fieldset>

  <button type="submit" class="btn btn-primary">Create</button>
</form>

<p><p>

{% endblock %}
