<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}"
</head>

<div class="row top-menu">
	<div class="col-md-6 text-left">
		<a href="{{url_for('showCategories')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
		</a>
	</div>
</div>

<body>
  <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
          {% endif %}
      {% endwith %}
  </div>

  <div class="row main-header">
    <div class="col-md-1"></div>
    <div class="col-md-10 padding-none">
      <h1>Create a new category</h1>
    </div>
  </div>

  <center>

  <form action = "#", method = 'post'>

    <p> Name: </p>
    <input type = 'text' size = '30' name = 'name'>

    <input type = 'submit' value = 'Create'>

  </form>

</center> 

</body>

</html>
